*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    background-image:("img/fondo.jpg");
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


body{
    font-family: arial, helvetica, sans-serif;      
}

.input-div {
    max-width: 1200px;
    margin: auto; 
    margin-bottom: 20px; /* Cambia el valor según tus necesidades */
    
}

.content  {
    min-height: 50px;
    background: linear-gradient(
        90deg,
        rgb(39, 83, 64)0%,
        rgb(20, 57, 31)70%
    );
}

.contenindo-login { 
    max-width: 360px;   
    padding: 40px 50px 20px; /* Añadir espacio alrededor del contenedor */
    background-color: rgb(15, 78, 31);
    border-radius: 6px;   
    margin: 0px 0px ; /* Añade un margen entre las imágenes */
    text-align: center; /* Centra horizontalmente las imágenes */
    display: block; /* Permite alinear la imagen en línea */
    margin-left: 0px; /* Margen a la izquierda */
    margin: auto;  
    margin-top: 20px; /* Margen superior del segundo div */
    margin-bottom: 0px;
    text-align: center;

}

.logo{        
    display: block; /* Permite centrar la imagen */   
    height: 280px;
    margin-bottom: 100px;  
    margin-top: 30px;
    text-align: center;
    
      
}

.menu {
    position: absolute;
    top: 0px;
    left: 5px;
    right: 0;
    display: flex;
    align-items: center;
  justify-content: space-between;
} /* alineación menu al */

.menu .navbar ul li {
   position: relative;
   float: left ;
}

.menu .navbar ul li a {
    font-size: 18px;
    width: 100%;
    height: 25%;
    letter-spacing: 1PX;    
    padding: 8px ;   
    color: #ffffff;
    display: flex;
    font-weight: bold; 
    transition: all 600ms ease;  
    position: relative;
    text-align: center;
  
}
/* BARRA DE MENU */

.menu .navbar ul li a:hover{   
    color: black;
    transform: scale(1.1);
     background: linear-gradient(
        90deg,
        rgb(179, 184, 176)0%,
        rgb(2, 43, 14)70%
    );
    padding: 0px 20px 10px ;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


nav ul li ul{

    display: flex;
    flex-direction: column;
    background: linear-gradient(
        90deg,
        rgb(179, 184, 176)0%,
        rgb(2, 43, 14)70%
    );
    position: absolute;  
    padding: 10px 15px 70PX 8px;
    visibility: hidden;    
    opacity: 0;    
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 50;
    transition: all 900ms ease;  
    nav-left: 10px;
}
/*todo submenu fijo */


nav ul li ul{
    nav-left: 30px;
    
}
 
nav ul li:hover ul{ 
   visibility: visible;
   opacity: 1;
   top: 40px;   
   left: 10%;
   transform: scale(1.1);
}
/* SUBMENU con el cursor */

#menu{
    display: none;
     /* letras sub menu*/
}

.menu-icono{
    width: 38px;
    transform: scale(1.2);
    color: #fbfafa;
    padding: 0px 80 px;
    /* tamaño del logo de menu*/

}

.menu label {
    cursor: pointer;
    display: none;   
    /* logo de menu con pantalla grande*/
}

h1{
    margin: 10px 0 0 350PX;
}

h2{
    text-align: center;   
    color: #ffffff; 
    font-size: 40px;
}

h5{    
    text-align: center;   
    color: #ffffff; 
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6{    
    text-align: center;   
    color: #ffffff; 
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width:900px) {
     /* al encoger la pantalla a que distancia
     aparece el logo de submenu*/

    .content {
        min-height: 50px;
    }
     /* ancho barra menu al reducir*/

    .menu {
        top: 0px;
        padding: 1px; 
      
          /* distancia de la letra del menu al encoger
          pantalla*/
    }

    .menu label {
        display: initial;
        /* aparecer logo de menu*/
    }

    .menu .navbar{
        position:absolute;
        top: 100%;
        left: 0%;
        right: 40%; /* ANCHO SUB */
        background: linear-gradient(
            90deg,
            rgb(54, 107, 18)0%,
            rgb(2, 43, 14)70%
            /* MENU AL DISMINUIR TAMAÑO DE PANTALLA espacio hacia arriba
            distancia al margen izqierdo
            tamaño del fondo  */
        );
       /* MENU AL DISMINUIR TAMAÑO DE PANTALLA */

        display: none;     
        /* sub menu al encoger pantalla no aparece si no se presiona el 
        logo de menu none*/   
    }

    .menu .navbar ul li{
        width: 180%;
        padding: 0px 0px;
    
      
        /* tamaño de la letra del sub menu al encoger pantalla*/
    }
    
    #menu:checked ~ .navbar{
        display:initial;  
       left: 10px;
    }   /* sub menu al encoger pantalla*/
}

main{

    .center-text {
        text-align: center;
    }
    
    background-color: rgb(2, 43, 14);  
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;   
}


* {
    box-sizing: border-box;
    }
    
    *:focus {
        outline: none;
    }
    main {
    font-family: Arial;
    background-color: #ffffff;
    padding: 50px;
    }
    .login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #2f6326;
    padding: 20px;
    border-radius: 5px
    }        
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    .confirm-control-group {
        margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #042407;
    box-shadow: none;
    }
    
    .btn {
      border: 2px solid transparent;
      background: #031e01;
      color: #ffffff;
      font-size: 25px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 250px;
      margin: 0 auto;
    }
    
    .btn:hover {
      background-color: #5c95bc;
    }
    
    ::placeholder {
        font-size: 22px; /* Tamaño de letra deseado */
        color: #0c4111;
    }